/*the double colon (::) syntax is used in css to define a pseudo-element, which is an imaginary element that does not exist in the Html structure but can be used to style a specific part of an element. */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar:hover {
    transition: var(--trasition);
    background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb:hover {
    transition: var(--trasition);
    background-color: #555;
}
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
    --bg-color: #fbfeff;
    --primary-color: #5a4bda;
    --secondary-color: #1b2124;
    --text-primary-color: #3d3d3d;
    --text-secondary-color: #757575;
    --text-light-color: #fff;
    --text-pw-skills-orange: #f7871d;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Manrope", sans-serif;

    /* transition */
    --trasition: all .3s ease;

    --tw-ring-offset-shadow: 0 20px #0000;
    --tw-ring-shadow: 0 20px #0000;
    --tw-shadow: 0px 0px 20px rgba(171, 171, 171, 0.25);
}

*,*::before,*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,img,span,iframe,button {
    display: block;
}

a{
    text-decoration: none;
    color:inherit;
}

img{
    height: auto;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font-family);
    line-height: 1.6;
    font-size: normal;
    color:var(--text-primary-color);

}

input,button {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
}

input {
    width: 100%; 
}

button {
    text-align: left;
    cursor: pointer;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
/* reused style */
.container {
    max-width: 1300px;
    margin:0 auto;
}

.primary__btn {
    background-color: var(--primary-color);
    color:var(--text-light-color);
}

.main__heading {
    text-align: center;
    font-size: 4.8rem;
    line-height: 2.25rem;
    padding: 10rem;
    font-weight: 600;
    color:var(--primary-color);

}

.main__para {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;

}
